/* Arimo font */
@font-face {
  font-family: 'Arimo', sans-serif;
  src: url(Arimo/static/Arimo-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Arimo', sans-serif;
  src: url(Arimo/static/Arimo-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Arimo', sans-serif;
  src: url(Arimo/static/Arimo-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Arimo', sans-serif;
  src: url(Arimo/static/Arimo-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Arimo', sans-serif;
  src: url(Arimo/static/Arimo-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Arimo', sans-serif;
  src: url(Arimo/static/Arimo-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Arimo', sans-serif;
  src: url(Arimo/static/Arimo-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Arimo', sans-serif;
  src: url(Arimo/static/Arimo-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}


